@* @model Silk.Models.ViewModels.ProductVM *@  @* Added in _ViewImports since VM will be used in many views *@
@model ProductVM 

|<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary">@(Model.Product.Id !=0 ? "Update":"Create") Product</h2>
            </div>
         </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Product.Id" hidden />
            <input asp-for="Product.ImageUrl" hidden />
            <div class="col-10">
                <div class="border p-3 mt-0-4">
                    <div asp-validation-summary="All"></div>
                    @* <div asp-validation-summary="ModelOnly"></div> -- will only display model related error but not property related errors*@
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Product.Title" class="form-control shadow border-0" />
                        <label asp-for="Product.Title" class="ms-2"></label>
                        <span asp-validation-for="Product.Title" class="text-danger"></span>
                    </div>
                    <div class="py-2 col-12">
                        <label asp-for="Product.Description" class="ms-2"></label>
                        <textarea asp-for="Product.Description" class="form-control shadow border-0 text-muted"></textarea>

                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Product.ISBN" class="form-control shadow border-0" />
                        <label asp-for="Product.ISBN" class="ms-2"></label>
                        <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Product.Author" class="form-control shadow border-0" />
                        <label asp-for="Product.Author" class="ms-2"></label>
                        <span asp-validation-for="Product.Author" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Product.ListPrice" class="form-control shadow border-0" />
                        <label asp-for="Product.ListPrice" class="ms-2"></label>
                        <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Product.Price" class="form-control shadow border-0" />
                        <label asp-for="Product.Price" class="ms-2"></label>
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Product.Price50" class="form-control shadow border-0" />
                        <label asp-for="Product.Price50" class="ms-2"></label>
                        <span asp-validation-for="Product.Price50" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Product.Price100" class="form-control shadow border-0" />
                        <label asp-for="Product.Price100" class="ms-2"></label>
                        <span asp-validation-for="Product.Price100" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input type="file" name="file" class="form-control shadow border-0" />
                        <label asp-for="Product.ImageUrl" class="ms-2"></label>
                    </div>
                    <div class="form-floating py-2 col-12">
                        @* <select asp-for="CategoryId" asp-items="@(ViewData["CategoryList"] as IEnumerable<SelectListItem>)" class="form-select shadow border-0"> *@   @* ViewData *@
                        @* <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-select shadow border-0"> *@  @* Viewbag *@
                        <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select shadow border-0">
                            @* ViewModel Implemented i.e. no need of viewbag*@
                            <option disabled selected>--Select Category--</option>
                        </select>
                        <label asp-for="Product.CategoryId" class="ms-2"></label>
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>
                    <div class="row pt-2">
                        <div class="col-6 col-md-3">
                            @if (Model.Product.Id != 0)
                            {
                                <button type="submit" class="btn btn-primary form-control">Update</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary form-control">Create</button>
                            }
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary border form-control">Back To List</a>
                        </div>
                    </div>
                    @* <partial name="_ValidationScriptsPartial" /> -- if partial is not script related,can be added here in master page like this *@
                </div>
            </div>
            <div class="col-2">
                <img src="@Model.Product.ImageUrl" width="100%" style="border-radius: 5px; border:1px solid #bbb9b9" />
            </div>
            

        </form>
    </div>
</div>



@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>

    @{
    //client side validation using js scripts from shared folder
    <partial name="_ValidationScriptsPartial" />
    }
}